program: train.py
method: bayes
metric:
    name: val_loss
    goal: minimize

# Early termination to save resources on bad runs
early_terminate:
    type: hyperband
    min_iter: 5

parameters:
    # --- Model Selection ---
    model_type:
        value: spectral_mlp  # <--- CHANGED FROM spectral_trans
    interpolant:
        value: linear

    # --- Hardware ---
    gpu_id:
        value: 4

    # --- Hyperparameters ---
    lr:
        distribution: log_uniform_values
        min: 0.00001        # MLPs often need slightly higher LR than Transformers
        max: 0.05

    stochasticity_scale:
        value: 0.005

    batch_size:
        values: [1024]

    # Your MLP code defines hidden_dim = embed_dim * 4
    # 64 -> 256 width, 128 -> 512 width, 256 -> 1024 width
    embed_dim:
        values: [64, 128, 256]

    # Number of ResFiLMBlocks
    num_heads:
        values: [8, 16]
    # Number of ResFiLMBlocks
    num_layers:
        values: [12, 16]

    # --- DELETED num_heads (Irrelevant for MLP) ---

    # --- Fixed Training settings ---
    checkpoint_freq:
        value: 0
    epochs:
        value: 20

command:
    - ${env}
    - python
    - ${program}
    - "--train_data"
    - "data/can_tsp50_train.pt"
    - "--val_data"
    - "data/can_tsp50_val.pt"
    - ${args}