program: train.py
method: bayes
metric:
    name: val_loss
    goal: minimize

# Early termination to save resources
early_terminate:
    type: hyperband
    min_iter: 20

parameters:
    # --- Architecture Selection ---
    model_type:
        value: canonical_rope
    interpolant:
        value: kendall

    # --- Hardware ---
    gpu_id:
        value: 0

    # --- Hyperparameters ---
    lr:
        distribution: log_uniform_values
        min: 0.000001
        max: 0.0001
    batch_size:
        values: [1024]
    embed_dim:
        values: [512]

    # Keeps the argument for the script, but sets it to a single dummy value
    # so the sweep doesn't generate duplicate runs.
    num_heads:
        values: [8,16]

    num_layers:
        values: [6, 8, 10, 12,14,16]

    # --- Fixed Training settings ---
    checkpoint_freq:
        value: 0
    epochs:
        value: 50

command:
    - ${env}
    - python
    - ${program}
    - "--train_data"
    - "data/processed_data_geom_train.pt"
    - "--val_data"
    - "data/processed_data_geom_val.pt"
    - ${args}